@font-face
{
    font-family: "Museo Sans Cyrl" ;
    src: url("../fonts/Museosanscyrl500.ttf");
}
@font-face
{
    font-family:'Digital Numbers' ;
    src: url("../fonts/digitalnumbers-regular\ \(1\).ttf");
}
@font-face
{
    font-family: 'Montserrat' ;
    src: url('../fonts/Montserrat-SemiBold.ttf');
}